@{
    ViewData["Title"] = "Erreur";
}

<div class="text-center">
    <h1 class="display-4">Erreur de mot de passe ou d'identifiant !</h1>

    <center><a asp-area="" asp-controller="Home" asp-action="Index"><button class="button">Retour</button></a></center>
</div>


