@{
    ViewData["Title"] = "Signed Off";
}

<div class="text-center">
    <h1 class="display-4">Déconnexion Réussi !</h1>
     <p><center><br><a asp-area="" asp-controller="Home" asp-action="Index"><button class="button"> Continuer</button></a><p>
</div>
