@{
    ViewData["Title"] = "Unlock";
}

<div class="text-center">
    <h1 class="display-4">Coffre dévérouillé</h1>

    <center><a asp-area="" asp-controller="Home" asp-action="Index"><button class="button">Fermer le coffre</button></a></center>
    
</div>
