@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smartsafe</h1>

    <div class="column middle">
        <br>
            <center><a asp-area="" asp-controller="" asp-action=""><button class="button"> Information</button></a>
            <a asp-area="" asp-controller="Lock" asp-action="Index"><button class="button"> Unlock </button></a>
            <a asp-area="" asp-controller="Parametre" asp-action="Index"><button class="button"> Paramètres</button></a></center>          
   </div>


</div>
