@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Paramètre</h1>

    <div class="column middle">
        <br>
            <center><a asp-area="" asp-controller="DatabaseMenu" asp-action="Index"><button class="button">Base de données</button></a></center>          
   </div>


</div>
