@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Database Menu</h1>

        <div class="column middle">
            <center><a asp-area="" asp-controller="User" asp-action="Index"><button class="button"> User</button></a></center>
            <center><a asp-area="" asp-controller="Event" asp-action="Index"><button class="button"> Events</button></a></center>
            <center><a asp-area="" asp-controller="Variable" asp-action="Index"><button class="button"> System</button></a></center>          
        </div>
        
</div>
